/* ============ FONT ============== */
@font-face {
    font-family: 'Dana';
    src: url('../public/font/Dana/woff2/DanaFaNum-Medium.woff2');
}

:root {
    --primary-color : #22c55e;
    --primary-dark-color : #14532d;
    --dark-color : #020617;
    --white-color : #f8fafc;
    --gray-color : #6b7280;
    --text-color : #94a3b8;
}


/* ============= RESET CSS ============== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}

*,*:after,*:before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Dana';
    line-height: 1.6;
    font-size: 1.6rem;
}

